.container{
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
}
.container .left_side .logo_description .description{
  padding-left: 70px;
  transform: translateY(-90px);
}
.container .left_side .logo_description .description p{
  font-size: 24px;
  font-weight: var(--medium-font-weight);
  line-height: 36px;
  color: var(--main-color);
}
.container .left_side .logo_description .description p span{
  color: var(--secondary-color);
}
.container .left_side .application_store{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 70px
}
.container .left_side .application_store p {
  color: var(--main-color);
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
}
.container .phones_side{
  position: relative;
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .phones_side img{
  transform: translateX(50px);
}
